.background{
    -fx-background-color: #6d82ff;
}

.label{
    -fx-font-size: 12pt;
    -fx-font-family: "First UI";
    -fx-text-fill: #070766;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-text-fill: black;
    -fx-font-family: "First UI";
}

.table-view {
    -fx-control-inner-background: rgba(49, 49, 81, 0.65);
    -fx-selection-bar: #58ff6b;
    -fx-font-size: 12pt;
}

.table-column{
    -fx-alignment: CENTER;
}

.table-column-first{
    -fx-alignment: CENTER-LEFT;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "First UI";
}

.button {
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-color: #6d82ff;
    -fx-font-family: "First UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #070766;
}

.button:hover {
    -fx-background-color: #505cb9;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #32386e;
    -fx-text-fill: #ffffff;
}

.button:focused {
    -fx-border-color: #58ff6b, #58ff6b;
    -fx-border-width: 1, 1;
    -fx-border-insets: 1 1 1 1, 0;
}